* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handlee", cursive;
  color: white;
}

.first,.game,.result {
  background-color: #2d2d2d;
  min-height: 100vh;
}

.correct{
  background-color: green;
}
.uncorrect{
  background-color: red;
}

.first-container{
  width: 800px;
  padding-top: 100px;
  margin: 0 auto;
}
.wrapper{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
 

.header {
  width: 642px;
  height: 109px;

  font-family: "Handlee";
  font-style: normal;
  font-weight: 400;
  font-size: 82px;
  line-height: 109px;

  color: #ff0000;
}

.underline {
  
  width: 640px;
  height: 10px;
}

.first-parag{
  font-size: 4rem;
  margin-bottom: 47px;
}

.first-link{
  position: relative;
}

.start{
  position: absolute;
  font-size: 4rem;
  right: 130px;
  top: -100px;
}


/**/


















.game-container{
  display: flex;
  padding-top: 63px;
}

.left-game{
  margin-left: 183px;
 padding-top: 27px;
}


.conc {
  position: absolute;
  top: 321px;
  left: 279px;
  font-size: 8rem;
}
.score-container{
  position: absolute;
  margin-left: 20px;

  display: flex;
  
  
}

.game-score{
  margin-right: 125px;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
}

.circle{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.circle-0{
  position: absolute;
  top: 319px;
  left: 1227px;

}
.circle-1{
  position: absolute;
  top: 452px;
  left:1617px;

}
.circle-2{
  position: absolute;
  top: 611px;
  left:1336px;
  

}
.circle span{
  position: absolute;
  right: 40px;
  top: 30px;
  font-size: 90px;
}
















.result-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4rem  0 ;
  text-align: center;
}

.symbol{
  
  padding-left: 3rem;
}
.question span{
  font-size: 3.5rem;
  padding-right: 0.5rem;
}


